body{

background:#0f172a;

font-family:Arial;

color:white;

margin:0;

padding:0;

}


.container{

width:400px;

margin:auto;

margin-top:40px;

}


h1{

text-align:center;

margin-bottom:30px;

}


.card{

background:#1e293b;

padding:20px;

margin-bottom:20px;

border-radius:12px;

box-shadow:0px 5px 20px rgba(0,0,0,0.5);

}


h2{

margin-top:0;

}


p{

font-size:18px;

margin:8px 0;

}



input[type=range]{

width:100%;

margin-top:15px;

}